VITE_API_URL=https://YOUR_API_ID.execute-api.us-east-1.amazonaws.com/prod
VITE_COGNITO_DOMAIN=https://YOUR_DOMAIN.auth.us-east-1.amazoncognito.com
VITE_USER_POOL_CLIENT_ID=your_user_pool_client_id_here
